<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Board List</title>
</head>
<body>
<h1>Board List</h1>
<table>
  <thead>
  <tr>
    <th>ID</th>
    <th>Title</th>
    <th>Content</th>
    <th>Writer</th>
  </tr>
  </thead>
  <tbody>
  <tr th:each="board : ${boardList}">
    <td th:text="${board.id}"></td>
    <td><a th:href="@{/board/{id}/edit(id=${board.id})}" th:text="${board.title}"></a></td>
    <td th:text="${board.content}"></td>
    <td th:text="${board.member_id}"></td>
  </tr>
  </tbody>
</table>
<a th:href="@{/board/new}">Write a new post</a>
</body>
</html>




