<!DOCTYPE html>
<html>
<head>
  <title>Kakao Login Callback</title>
</head>
<body>
<h2>Kakao Login Callback</h2>
<div id="message"></div>
<script type="text/javascript">
  // extract the access token from the URL hash fragment
  var hash = window.location.hash.substr(1);
  var params = hash.split('&').reduce(function (result, item) {
    var parts = item.split('=');
    result[parts[0]] = parts[1];
    return result;
  }, {});
  var accessToken = params.access_token;

  // send the access token to the server for verification
  var xhr = new XMLHttpRequest();
  xhr.open("POST", "/kakao/login", true);
  xhr.setRequestHeader("Content-type", "application/json");
  xhr.onreadystatechange = function() {
    if (xhr.readyState === 4) {
      if (xhr.status === 200) {
        // redirect to the main page with the user information
        var responseJson = JSON.parse(xhr.responseText);
        var member = responseJson;
        var message = "Successfully logged in as " + member.name;
        document.getElementById("message").innerHTML = message;
        window.location.replace("//board/list.html?name=" + member.name + "&email=" + member.email);
      } else {
        // display an error message
        var message = "Error: " + xhr.statusText;
        document.getElementById("message").innerHTML = message;
      }
    }
  };
  var data = JSON.stringify({accessToken: accessToken});
  xhr.send(data);
</script>
</body>
</html>
