<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.memberboard.dao.BoardDao">

    <resultMap id="boardResultMap" type="com.example.memberboard.model.Board">
        <id property="id" column="id" />
        <result property="title" column="title" />
        <result property="content" column="content" />
        <result property="member_id" column="member_id" />
    </resultMap>

    <select id="findAll" resultMap="boardResultMap">
        SELECT * FROM boards
    </select>

    <insert id="create" parameterType="com.example.memberboard.model.Board">
        INSERT INTO boards (id, title, content, member_id) VALUES (boards_seq.nextval, #{title}, #{content}, #{member_id})
    </insert>
    
    <select id="findById" parameterType="com.example.memberboard.model.Board" resultType="com.example.memberboard.model.Board">
        SELECT * FROM boards WHERE id = #{id}
    </select>

    <update id="update" parameterType="com.example.memberboard.model.Board">
        UPDATE boards
        SET title = #{title},
            content = #{content},
            member_id = #{member_id}
        WHERE id = #{id}
    </update>

    <delete id="delete" parameterType="Long">
        DELETE FROM boards WHERE id = #{id}
    </delete>

</mapper>
