<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.memberboard.dao.MemberDao">

    <resultMap id="memberResultMap" type="com.example.memberboard.model.Member">
        <result property="id" column="id" />
        <result property="username" column="username" />
        <result property="password" column="password" />
        <result property="email" column="email" />
    </resultMap>

    <select id="findByUsername" resultMap="memberResultMap" parameterType="String">
        SELECT * FROM members WHERE username=#{username}
    </select>

    <insert id="insert" parameterType="com.example.memberboard.model.Member">
        INSERT INTO members (id, username, password, email)
        VALUES (#{id}, #{username}, #{password}, #{email})
    </insert>

</mapper>
